@import "./viewports.scss";
@import "./colors.scss";
@import "./fonts.scss";

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
