.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 58px;
  padding: 6px 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: var(--blue-100);
  }

  &:active {
    background-color: var(--blue-200);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: var(--gray);
  }
}
