.city-list {
  display: grid;
  row-gap: 25px;
  padding-block: 23px 46px;
  padding-inline: 18px;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 330px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block-start: 0;
    padding-inline: 0;
  }
}

.city-list__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-block-start: 8px;
  padding-inline-start: 47px;
  background-image: url("../img/svg/icon-house.svg");
  background-size: 40px;
  background-repeat: no-repeat;

  &--food {
    background-image: url("../img/svg/icon-burger.svg");
  }

  &--souvenirs {
    background-image: url("../img/svg/icon-gift.svg");
  }

  @media (min-width: $tablet-width) {
    row-gap: 22px;
    padding-inline: 33px;
    padding-block-start: 158px;
    background-image: url("../img/svg/icon-house-no-frame.svg");
    background-size: 78px 72px;
    background-position: center 59px;
    text-align: center;

    &--food {
      padding-inline: 50px;
      padding-block-start: 156px;
      background-image: url("../img/svg/icon-burger-no-frame.svg");
      background-size: 82px 68px;
      background-position: center 61px;
    }

    &--souvenirs {
      padding-block-start: 153px;
      padding-inline: 40px;
      background-image: url("../img/svg/icon-gift-no-frame.svg");
      background-size: 67px 75px;
      background-position: center 63px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 170px;
    padding-inline: 55px;
    background-position: center 68px;

    &--food {
      padding-block-start: 167px;
      background-size: 74px 69px;
    }

    &--souvenirs {
      padding-inline: 80px;
      background-size: 78px 76px;
    }
  }
}

.city-list__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.city-list__item-text {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--black-100);
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    & span {
      display: block;
    }
  }
}
