.contacts {
  padding-block-start: 24px;
  padding-block-end: 34px;
}

.contacts__title {
  margin-block-start: 0;
  margin-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
