.features__list {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "c c c"
      "c c c"
      "b b b"
      "s r t";
  }
}

.features__item {
  &:first-child {
    grid-area: c;
  }

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: s;
  }

  &:nth-child(4) {
    grid-area: r;
  }

  &:nth-child(5) {
    grid-area: t;
  }
}

.features__item-top {
  @media (min-width: $tablet-width) {
    min-height: 256px;
    display: grid;
    grid-template-columns: 256px 1fr;
  }
}

.features__item-top--bridge {
  grid-template-columns: 1fr 256px;

  & .features__image {
    order: -1;
  }
}

.features__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}
