.feature-header {
  padding-inline: 18px;
  padding-block: 71px 40px;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;

  &--gray {
    position: relative;
    padding-inline-start: 18px;
    padding-block: 25px;
    background-color: var(--light-gray);
    color: var(--black);

    &::before {
      position: absolute;
      bottom: 0;
      left: 18px;
      content: "";
      width: calc(100% - 36px);
      height: 1px;
      background-color: var(--gray-dark);
    }

    &:last-child::before {
      content: none;
    }
  }

  &--road {
    padding-block: 24px 25px;
  }

  &--tourists {
    padding-block: 24px 28px;
  }

  &--bridge {
    padding-block: 38px 36px;
  }

  @media (min-width: $tablet-width) {
    padding-inline: 33px;
    padding-block: 53px 30px;

    &--gray {
      padding-block-start: 42px;
      padding-block-end: 42px;
      padding-inline: 26px;
    }

    &--road {
      padding-inline: 25px;
    }
  }
}

.feature-header__container {
  padding-block-end: 18px;
  border-bottom: 1px solid #d6d6d6;
}

.feature-header__container:last-child {
  padding-block-end: 0;
  border: none;
}

.feature-header__title {
  margin-block: 0 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.feature-header__number {
  display: block;
  margin-block-end: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 25px;
  }
}

.feature-header__text {
  max-width: 264px;
  margin-inline: auto;
  margin-block: 0;
  text-align: center;

  &--small {
    max-width: 255px;
  }
}
