.feature-header {
  padding-inline: 18px;
  padding-block: 37px;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;

  &--real-town {
    padding-block: 70px 40px;
    background-image: url("../img/svg/white-mask.svg");
    background-repeat: no-repeat;
    background-position: top 0 center;
  }

  &--gray {
    padding-block: 24px 25px;
    position: relative;
    background-color: var(--gray-200);
    color: var(--black);

    &::before {
      position: absolute;
      bottom: 0;
      left: 18px;
      content: "";
      width: calc(100% - 36px);
      height: 1px;
      background-color: var(--gray-100);
    }

    &:last-child::before {
      content: none;
    }
  }

  &--tourists {
    padding-inline: 31px;
    padding-block-end: 29px;
  }

  &--square {
    padding-inline: 26px;
  }

  &--road {
    padding-inline: 42px;
  }

  @media (min-width: $tablet-width) {
    padding-block: 52px 32px;
    padding-inline: 31px;
    background-image: none;

    &--gray {
      padding-block: 41px;
      padding-inline: 33px;

      &::before {
        content: none;
      }
    }

    &--road {
      padding-inline: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-block: 52px 53px;
    padding-inline: 55px;
  }
}

.feature-header__container {
  border-bottom: 1px solid #d6d6d6;
}

.feature-header__container:last-child {
  border: none;
}

.feature-header__title {
  margin-block: 0 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 90%;
    margin-inline: auto;

    & span {
      display: block;
    }
  }
}

.feature-header__number {
  display: block;
  margin-block-end: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 25px;
  }
}

.feature-header__text {
  margin-block: 0;
  text-align: center;
}
