.feedback {
  padding-block-start: 36px;
  padding-inline: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 60px;
    padding-block: 64px 62px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 115px 62px;
    padding-inline: 120px;
  }
}

.feedback__title {
  margin-block: 0 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 20px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-block-end: 30px;
  }
}

.feedback__text {
  margin-block: 0 28px;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    margin-inline: auto;
    margin-block-end: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-block-end: 45px;
  }
}

.feedback__user-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 100px;
  }
}

.feedback__fieldset-user {
  padding-block-end: 40px;

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      top: 16px;
      right: -29px;
      left: auto;
      background-color: var(--gray-600);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: -50px;
    }
  }
}

.feedback__fieldset-contact {
  padding-block-end: 35px;
}

.feedback__fieldset-impression {
  padding-block-end: 25px;

  @media (min-width: $desktop-width) {
    padding-block-start: 30px;
  }
}

.feedback__fieldset-visited {
  padding-block-end: 25px;

  @media (min-width: $tablet-width) {
    padding-block-end: 18px;
  }
}

.feedback__radio {
  display: grid;
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 28px;
    grid-template-columns: 280px 280px 253px;
    padding-block: 17px;
  }
}

.feedback__checkbox {
  display: grid;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 224px);
    column-gap: 32px;
    justify-content: center;
  }
}

.feedback__button-wrapper {
  margin-block-start: 47px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.feedback__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}

.feedback__required {
  display: block;
  margin-block-end: 26px;
  font-size: 12px;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-block-end: 0;
  }
}

.feedback__textarea {
  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin-inline: auto;
  }
}
