.feedback {
  padding-block-start: 36px;
  padding-inline: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 60px;
  }
}

.feedback__title {
  margin-block: 0 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.feedback__text {
  margin-block: 0 28px;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: center;
}

.feedback__user-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.feedback__fieldset-user {
  padding-block-end: 39px;

  @media (min-width: $tablet-width) {
    margin-inline-end: 100px;
  }
}

.feedback__fieldset-contact {
  padding-block-end: 34px;
}

.feedback__fieldset-impression {
  padding-block-end: 24px;
}


.feedback__items {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;

    &--visited-sights {
      column-gap: 64px;
    }
  }
}

.feedback__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.feedback__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}

.feedback__required {
  display: block;
  font-size: 12px;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: right;
}

.feedback__textarea {
  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin-inline: auto;
  }
}
