.field {
  display: flex;
  flex-direction: column;
  margin-block-end: 16px;
}

.field__label {
  color: var(--gray);
  text-transform: uppercase;

  &--bold {
    text-transform: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

.field__input,
.field__textarea {
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  background-color: var(--light-gray);
  resize: vertical;
}

.field__textarea {
  min-height: 150px;

  @media (min-width: $desktop-width) {
    max-width: 768px;
  }
}
