.fieldset {
  position: relative;
  padding-block-start: 24px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    height: 1px;
    width: 100vw;
    background-color: var(--gray);
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }
  }

  &--visited-sights {
    padding-block-end: 25px;
  }
}

.fieldset__field-row {
  margin-block-end: 16px;

  &:last-child {
    margin-block-end: 0;
  }
}

.fieldset__legend {
  margin-block: 0 20px;
  padding-inline: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-block-end: 28px;

    &--decor {
      position: relative;
      padding-inline: 130px;

      &::before {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 50%;
        left: 0;
        background-color: var(--gray-600);
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        content: "";
        width: 123px;
        height: 1px;
        top: 50%;
        right: 0;
        background-color: var(--gray-600);
        transform: translateY(-50%);
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}
