.hotels {
  padding-block: 39px 49px;
  padding-inline: 18px;

  @media (min-width: $tablet-width) {
    padding-block: 60px 55px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 60px 66px;
  }
}

.hotels__offer {
  @media (min-width: $tablet-width) {
    width: 458px;
    margin-inline: auto;
  }
}

.hotels__title {
  margin-block: 0 21px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-block-end: 32px;
  }
}

.hotels__text {
  margin-block: 0 32px;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 45px;

    & span {
      display: block;
    }
  }
}

.hotels__button {
  width: 100%;
}
