.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    min-height: 56px;
  }
}

.main-header__logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $mobile-width-only) {
    bottom: 0;
    top: auto;
    transform: translateX(-50%) translateY(100%);
  }
}
