.main-footer {
  display: grid;
  gap: 30px;
  min-height: 235px;
  justify-content: center;
  justify-items: center;
  padding-block: 32px;
  padding-inline: 60px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding-block-start: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 36px;
    padding-inline: 120px;
  }
}

.main-footer__text {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--blue);
  }

  &:active {
    color: var(--gray-300);
  }

  & svg {
    margin-inline-start: 8px;
  }
}
