.media {
  padding-block: 37px 25px;
  padding-inline: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 0;
  }
}

.media__title {
  margin-block: 0 35px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.media__text {
  margin-block: 0;
  color: var(--black-100);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 67px;
  }
}

.media__list {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.media__list-item {
  position: relative;
  padding-block-start: 24px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    height: 1px;
    width: 100vw;
    background-color: var(--gray);
  }

  @media (min-width: $tablet-width) {
    padding-block-start: 0;

    &::before {
      content: none;
    }

    &:first-child {
      grid-column: 1/-1;
    }
  }
}
