.media {
  padding-block-start: 37px;
  padding-block-end: 25px;
}

.media__title {
  margin-block-start: 0;
  margin-block-end: 35px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.media__text {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--gray);
  text-transform: uppercase;
  text-align: center;
}
