.modal {
  display: flex;
  flex-direction: column;
  text-align: center;

  &--error {
    padding: 45px 41px 35px;
  }

  @media (min-width: $tablet-width) {
    max-width: 640px;
    padding: 50px 46px 49px;

    &--error {
      max-width: 400px;
    }
  }
}

.modal__title {
  margin-block-start: 0;
  margin-block-end: 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text {
  margin-block: 0 28px;
  color: var(--gray);
  text-transform: uppercase;
}

.modal__footer {
  padding: 20px;
  background-color: var(--light-gray);
}

.modal__button {
  width: 100%;
  margin-inline: auto;

  &--small {
    width: 180px;
  }

  @media (min-width: $tablet-width) {
    width: 458px;

    &--small {
      width: 272px;
    }
  }
}
