.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  &--closed {
    display: none;
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 42px;
  padding-block: 53px 35px;
  background-color: var(--white);
  max-width: 400px;
}

.modal__title {
  margin-block: 0 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text {
  margin-block: 0 20px;
  color: var(--black-100);
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-block-end: 28px;
  }
}

.modal__button {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
