.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &--nojs {
    position: static;

    & .nav__item {
      display: block;
    }

    & .nav__item--menu {
      display: none;
    }
  }

  &--opened {
    .nav__list::before {
      content: "";
    }

    & .nav__item {
      display: block;
    }

    & .toggle-menu {
      background-image: url("../img/icon-cross.svg");
      background-color: var(--blue);
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 7px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    background-image: none;

    &::before {
      content: none;
    }
  }
}

.nav__item {
  display: none;

  &--menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
  }

  &:nth-last-child(2) .nav__link {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 20%;

    &:nth-child(4n - 1) {
      margin-left: 20%;
    }
  }
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  padding-block: 17px 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);


  @media (min-width: $tablet-width) {
    min-height: 56px;
    padding-block: 12px;
    background-color: var(--white);
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    border: none;

    &--active {
      color: var(--brown);
    }

    &:hover {
      color: var(--blue);
    }

    &:active {
      color: var(--black);
      opacity: 0.3;
    }
  }
}
