.photo {
  margin: 0;
}

.photo__link {
  display: block;
}

.photo__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.photo__footer {
  @media (min-width: $tablet-width) {
    background-color: var(--gray-200);
  }
}

.photo__description {
  margin-block: 0 12px;
  font-weight: 700;
  text-transform: uppercase;
}


.photo__autor {
  margin-block: 0 11px;
  color: var(--black-100);
}

.photo__wrapper {
  @media (min-width: $tablet-width) {

  }
}
