.photo {
  margin: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo__link {
  display: block;
}

.photo__image {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 267px;

    &--main {
      height: 400px;
    }
  }
}

.photo__footer {
  padding-block: 15px 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
    padding-block: 22px 15px;
    background-color: var(--gray-200);

    &--road {
      background-color: var(--gray-400);
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__footer-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.photo__description {
  margin-block: 0 2px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}


.photo__autor {
  margin-block: 0 12px;
  color: var(--black-100);

  @media (min-width: $tablet-width) {
    margin-block-end: 0;
  }

  @media (min-width: $desktop-width) {
    color: var(--white);
  }
}
