.photo {
  position: relative;
  padding-block-start: 24px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    height: 1px;
    width: 100vw;
    background-color: var(--gray);
  }

  @media (min-width: $tablet-width) {
    padding-block-start: 0;

    &:first-child {
      grid-area: f;
    }

    &:nth-child(2) {
      grid-area: l;
    }

    &:nth-child(3) {
      grid-area: r;
    }

    &:nth-child(4) {
      grid-area: d;
    }
  }
}

.photo__item {
  margin: 0;
}

.photo__item-link {
  display: block;
}

.photo__image {
  display: block;
}

.photo__footer {
  @media (min-width: $tablet-width) {
    background-color: var(--gray-200);
  }
}

.photo__description {
  margin-block: 0 12px;
  font-weight: 700;
  text-transform: uppercase;
}


.photo__autor {
  margin-block: 0 11px;
  color: var(--black-100);
}
