.photos {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "f f"
      "l r"
      "d .";
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "f f f"
      "l r d";
  }
}

