.reaction {
  display: inline-flex;
  min-width: 61px;
  height: 26px;
  padding-inline-start: 37px;
  font-weight: 700;
  background-image: url("../img/svg/like-icon.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0;

  @media (min-width: $desktop-width) {
    color: var(--white);
    background-image: url("../img/svg/like-icon-white.svg");
  }
}
