.sedona-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 389px;
  background-image: url("../img/sedona-image/back-mobile.jpg");
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-size: cover;
    min-height: 518px;
  }
}

.sedona-image--catalog {
  background-image: url("../img/sedona-image/back-mobile.jpg");
  min-height: 158px;
}
