.sedona-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 390px;
  background-image: url("../img/sedona-image/back-mobile.jpg");
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.sedona-image--catalog {
  background-image: url("../img/sedona-image/back-mobile.jpg");
  min-height: 158px;
}
