.social {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--blue);
  outline: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/svg/icon-vk.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    transform: translate(-50%, -50%);
  }

  &--telegram::before {
    background-image: url("../img/svg/icon-telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/svg/icon-youtube.svg");
  }


  &:hover,
  &:focus {
    background-color: var(--blue-100);
  }

  &:active {
    background-color: var(--blue-200);

    &::before {
      opacity: 0.3;
    }
  }
}
