.social {
  display: flex;
  column-gap: 6px;
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

.social__link {
  display: block;
  background-color: var(--blue);
  padding-inline: 14px;
  padding-block: 17px;
}
