.social {
  display: flex;
  column-gap: 6px;
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

.social__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--blue);
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  &--telegram {
    background-image: url("../img/telegram.svg");
  }

  &--youtube {
    background-image: url("../../img/youtube.svg");
  }
}
