.toggle-menu {
  display: inline-flex;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--white);
  background-image: url("../img/icon-menu.svg");
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
